---
import TextBox from "./TextBox.astro";
import TitleBox from "./TitleBox.astro";
import { Picture } from "astro:assets";

interface Props {
  name: string;
  description: string;
  color?: string;
  imageSrc: ImageMetadata;
}

const { name, description, color = "black", imageSrc } = Astro.props;
---

<style define:vars={{ color }}>
  .container {
    position: relative;
    display: flex;
    max-width: 1400px;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
  }

  .image-wrapper {
    position: absolute;
    right: 0;
    top: -270px;
    z-index: 1;
  }

  .image-wrapper img {
    width: 60%;
    height: auto;
    right: -20%;
    position: relative;
    max-width: 100%;
    max-height: 900px;
    object-fit: cover;
  }

  .text-wrapper {
    position: relative;
    z-index: 2;
    max-width: 60%;
    padding: 20px;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .description {
    font-size: 1rem;
    background-color: #fdfdfd;
    box-shadow: 6px 6px var(--color);
    padding: 10px;
  }
</style>

<section class="container">
  <div class="text-wrapper">
    <TitleBox color={color} text={name} />
    <TextBox color={color} text={description} />
  </div>
  <div class="image-wrapper">
    <Picture
      class="shroom-img"
      src={imageSrc}
      formats={["avif", "webp"]}
      alt={name + " in einer altmodischen Tasse."}
    />
  </div>
</section>
